<?xml version="1.0"?>
<!--
/**
 * VirtualPayer_Cardnet Connect Plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   VirtualPayer
 * @package    VirtualPayer_Cardnet
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<VirtualPayer_Cardnet>
			<version>1.0.0</version>
		</VirtualPayer_Cardnet>
	</modules>
	<global>
		<models>
			<cardnet>
				<class>VirtualPayer_Cardnet_Model</class>
                <resourceModel>cardnet_mysql4</resourceModel>
			</cardnet>
            <cardnet_mysql4>
                <class>VirtualPayer_Cardnet_Model_Mysql4</class>
                <entities>
                    <cardnet>
                        <table>cardnet</table>
                    </cardnet>
                </entities>
            </cardnet_mysql4>
		</models>
		<blocks>
			<cardnet>
				<class>VirtualPayer_Cardnet_Block</class>
			</cardnet>
		</blocks>
		<helpers>
			<cardnet>
				<class>VirtualPayer_Cardnet_Helper</class>
			</cardnet>
		</helpers>
		<resources>
			<cardnet_setup>
				<setup>
					<module>VirtualPayer_Cardnet</module>
					<class>VirtualPayer_Cardnet_Model_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</cardnet_setup>
			<cardnet_write>
				<connection>
					<use>core_write</use>
				</connection>
			</cardnet_write>
			<cardnet_read>
				<connection>
					<use>core_read</use>
				</connection>
			</cardnet_read>
		</resources>
		<payment>
			<cc>
				<types>
					<VI>
						<code>VI</code>
						<name>Visa</name>
						<order>0</order>
					</VI>
					<MC>
						<code>MC</code>
						<name>MasterCard</name>
						<order>100</order>
					</MC>
					<AM>
						<code>AM</code>
						<name>American Express</name>
						<order>200</order>
					</AM>
				</types>
			</cc>
		</payment>
	</global>
	<frontend>
		<routers>
			<cardnet>
				<use>standard</use>
				<args>
					<module>VirtualPayer_Cardnet</module>
					<frontName>cardnet</frontName>
				</args>
			</cardnet>
		</routers>
		
		<layout>
			<updates>
				<cardnet>
					<file>cardnet.xml</file>
				</cardnet>
			</updates>
		</layout>
	</frontend>

	<adminhtml>
		<menu>
			<sales module="sales">
				<children>
					<cardnet module="cardnet">
						<title>Cardnet Transactions</title>
						<sort_order>300</sort_order>
						<action>cardnet/adminhtml_cardnet</action>
					</cardnet>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<sales>
							<children>
								<cardnet>
									<title>Cardnet Transactions</title>
									<sort_order>10</sort_order>
								</cardnet>
							</children>
						</sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<cardnet>
					<file>cardnet.xml</file>
				</cardnet>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<payment>
			<cardnet>
				<active>0</active>
				<title>Lloyds Cardnet Payment Gateway</title>
				<model>cardnet/redirect</model>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
			</cardnet>
		</payment>
	</default>
</config>